<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Bölgeler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>{{areaName}}</ion-label>
    </ion-item>
  </ion-list> 
<!-- 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{area}}
    </ion-card-content>
  </ion-card>  -->

</ion-content>
